.button {
  background-color: $black;
  color: $white;
  border-radius: none;
  padding: 8px;
  font-size: 11px;
  font-family: $sans;
  transition: all .2s ease;
  @media screen and (min-width: $medium){
    font-size: 12px;
  }
  &:hover {
    cursor: pointer;
    background-color: $gray;
  }
}