.inline-link {
  color: red;
  &:hover {
    cursor: pointer;
  }
}
.list__wrapper {

  @media screen and (min-width: $medium){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.list {  
  border-bottom: 1px solid $gray;
  padding: 5px 20px;
  @media screen and (min-width: $medium){
    border-bottom: 0px;
  }
}
.list--final {
  background-color: $lgray;
}